body {
  background-color: var(--whiteFixed);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-1);
  height: 4rem;
  position: fixed;
  color: white;
  width: 100%;
  top: 0px;
  height: 6%;
}
header > h1 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}
header > h3 {
  display: flex;
  flex-direction: column-reverse;
}
main {
  max-width: 80%;
  margin: 0 auto;
}

main > div > img {
  width: 15%;
  margin-top: 10%;
}
main > div > div > button {
  background: (--grey-4);
  border: 2px solid var(--grey-4);
  color: var(--grey-3);
  border-radius: 4px;
  margin-top: 20px;
  width: 20%;
  left: 80%;
  position: relative;
}
.usuario {
  margin-top: 8%;
}
.container-publicacao {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-publicacao > button {
  position: absolute;
  top: 100%;
  right: 0%;
  margin-top: 3%;
  background: var(--grey-4);
  border: 2px solid var(--grey-4);
  border-radius: 4px;
  color: var(--grey-3);
  width: 5rem;
  height: 2rem;
}
.titulo {
  border: 2px solid var(--grey-4);
  padding: 16px 20px;
  border-radius: 6px;
  margin-top: 8%;
}
.descricao {
  border: 2px solid var(--grey-4);
  padding: 28px 21px 29px;
  border-radius: 6px;
  margin-top: 10%;
  height: 10rem;
}

main > div > h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 23%;
  color: var(--grey-1);
}

main > div > div > div > h2 {
  font-weight: bold;
  color: var(--grey-1);
}

main > div > div > ul > li > img {
  width: 45%;
}

figure {
  width: 80px;
  height: 80px;

  object-fit: contain;
}
figure > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.teste {
  display: flex;
  flex-direction: column;
}
.seguir {
  background-color: var(--whiteFixed);
  border: 2px solid var(--grey-1);
  color: var (--grey-1);
  font-weight: bolder;
  border-radius: 4px;
  height: 32px;
  width: 123px;
  margin-top: 10%;
}
.seguindo {
  background-color: var(--brand-1);
  border: 2px solid var(--brand-1);
  color: var(--whiteFixed);
  font-weight: bolder;
  border-radius: 4px;
  height: 32px;
  width: 123px;

  margin-top: 10%;
}
.teste > h3 {
  font-weight: bold;
}
.list-user {
  width: 13rem;
  /* height: 74%; */
  gap: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  height: 10rem;
}
.sugestoes-mobile {
  width: none;
}

.lista {
  display: flex;
  width: 80%;
  height: 12rem;
  flex-direction: row;
  overflow-x: scroll;
}
main > div > ul > li > div > h3 {
  line-height: 20px;
  font-weight: bold;
  color: var(--grey-1);
}
main > div > ul > li > div > h4 {
  margin-top: 1rem;
  line-height: 20px;
}
main > div > div > div > div > h3 {
  color: var(--grey-1);
}

.nomeFeed {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

main > div > div > h3 {
  margin-top: 1%;
  font-size: 0.9rem;
  line-height: 1rem;
}

main > div > div > p {
  font-size: 1rem;
  line-height: 1.75rem;
}

.feed > figure > img {
  width: 4rem;
}
.mainFeed {
  display: flex;
  flex-direction: column;
}

.boxPai {
  display: flex;
  margin-top: 8%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
.boxPai > figure {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.boxPai > figure > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
main > div > ul > li {
  margin: auto;
  position: relative;
}

main > h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 8%;
  color: var(--grey-1);
}
main > div > div > h2 {
  font-size: 1.78rem;
  font-weight: bolder;
  line-height: 2.5rem;
  margin-top: 12%;
  color: var(--grey-1);
}
main > div > div > div > h3 {
  color: var(--grey-1);

  line-height: 1.3rem;
}
main > div > div > div > p {
  margin-top: 0.5rem;
}

.boxNomeProfissao {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.divLogin {
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: flex-end;
  margin-top: 25%;
}
dialog > div {
  display: flex;
}
dialog > div > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
dialog > div > div > h2 {
  color: var(--grey-1);
  font-weight: bold;
  line-height: 1.3rem;
}
dialog > p {
  position: absolute;
  top: 7px;
  right: 8px;
  border: 1px solid var(--grey-5);
  border-radius: 46%;
  width: 17px;
  height: 20px;
  background-color: var(--grey-5);
  color: var(--grey-3);
  font-size: 20px;
}
dialog > h2 {
  font-weight: bold;
  margin-top: 2.5%;
}
dialog > h3 {
  margin-top: 3%;
  line-height: 1.2rem;
}
.container-botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}
.botaoModal {
  width: 6.6rem;
  height: 3rem;
  background-color: var(--grey-1);
  color: var(--whiteFixed);
  border-radius: 6%;
}
.botaoCoracao {
  background-color: white;
  border: none;
}
.botaoCoracao > img {
  width: 1.6rem;
  background-image: url("../assets/img/heart.jpg");
  color: red;
}
.botaoCompartilhar {
  background: none;
  border: none;
}
.botaoCompartilhar > img {
  width: 1.6rem;
}
dialog {
  border-radius: 5px;
  max-width: 80%;
  top: -39%;
  border: 2px solid white;
}
h2 {
  font-weight: bold;
}
.boxNomeProfissao > h3 {
  font-weight: bold;
}

@media (min-width: 900px) {
  .paiTeste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
  }
  main {
    position: relative;
  }
  main > div > div > ul {
    display: none;
  }
  .container-publicacao > button {
    position: absolute;
    top: 100%;
    right: 0%;
    margin-top: 3%;
    background: var(--brand-1);
    border: 2px solid var(--brand-1);
    border-radius: 4px;
    color: var(--whiteFixed);
    width: 5rem;
    height: 2rem;
  }
  .titulo {
    border: 2px solid var(--grey-4);
    padding: 16px 20px;
    border-radius: 6px;
    margin-top: 8%;
    width: 22rem;
  }
  .sugestoes-mobile {
    width: 17rem;
  }

  .divLogin {
    margin-top: 10%;
  }
  sugestoes-mobile {
    display: flex;
    flex-direction: column;
  }
  .lista {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: clip;
  }
  main > div > div > h2 {
    margin-top: 31%;
  }
  .divLogin > div > h2 {
    font-weight: bold;
  }

  .container-publicacao {
  }
  .container-botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 8%;
    cursor: pointer;
    align-items: flex-end;
    gap: 1rem;
  }
  .botaoModal {
    cursor: pointer;
  }
  .botaoCoracao {
    cursor: pointer;
  }
  .botaoCompartilhar {
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  header > h3 {
    cursor: pointer;
  }

  .fechar-modal {
    cursor: pointer;
  }
}
